body {
  background-color: $cc-black;
  margin: 0;
}

ccdesign-cv-template {
  @media(max-width: $screen-md) {
    ccdesign-header {
      .navbar {
        margin-left: 20px !important;
      }
    }
  }
  
  .page {
    overflow: hidden;
    background-color: $cc-black;
    
    &__body {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      width: 100vw;
      height: 97vh;

      // TODO: change this when angular problem solved
      > app-home,
      app-portfolio,
      app-contact,
      app-fyp-project,
      app-website-project,
      app-webcomponent-project,
      app-talktalk-azure,
      app-talktalk-component,
      app-talktalk-sales {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        width: 100vw;
        height: 97vh;
      }

      &--left::-webkit-scrollbar {
        display: none;
      }
  
      &--left {
        padding-bottom: 10px;
        margin-top: 55px;
        flex: 1 1 50vw;
        order: 1;
        overflow: auto;
        overflow-x: hidden;
  
        @media screen and (max-width: $screen-xs-max) {
          margin-top: 0;
        }

        & > * {
          text-align: left;
          margin-left: 100px;
          margin-right: 60px;

          @media (max-width: $screen-sm-max ) {
            margin-left: 20px;
          }

          @media (max-width: $screen-xs-min) {
            margin-left: 20px;
            margin-right: 35px;
          }
        }
      }
      &--right {
        height: 97vh;
        flex: 2 2 50vw;
        order: 2;
        min-width: 387px;
      }
  
      @media screen and (max-width: $screen-xs-max) {
        position: relative;
        -webkit-flex-direction: column;
        flex-direction: column;
        height: 92vh;

        > app-home,
        app-portfolio,
        app-contact,
        app-fyp-project,
        app-website-project,
        app-webcomponent-project,
        app-talktalk-azure,
        app-talktalk-component,
        app-talktalk-sales {
          position: relative;
          -webkit-flex-direction: column;
          flex-direction: column;
          height: 92vh;
        }
  
        &--left {
          order: 2;
          flex: 1 1 140vw;
        }
        &--right {
          order: 1;
          min-height: 35vh;
          max-height: 35vh;
          margin-bottom: 45px;
        }
      }
    }
  }
}