@mixin addColor($color) {
  color: $color;
}

@each $type, $color in $colors-list {
  .text--#{$type} {
    @include addColor($color);
  }
}
ccdesign-button {
  .btn {
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:focus-within {
      outline: none;
    }

    &:hover {
      .icon--blue {
        color: $cc-icons-blue-action;
      }
    }

    &.btn {
      &--primary {
        background-color: transparent;
        padding: 8px 12px;
        border: 2px solid;

        @each $type, $color in $colors-list {
          &.btn--#{$type} {
            border-color: $color;

            &:hover {
              background-color: $color;
              & > .text--#{$type} {
                color: $cc-black;
              }
            }
          }
        }
      }

      &--text {
        background-color: transparent;
        border-color: transparent;

        &:active {
          box-shadow: none;
        }
      }

      &--icon {
        padding-left: 5px;
      }
    }
  }

  span {
    @extend %heading;
    font-size: 16px;
  }
}
