%slide {
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  transition: 1s;
}

ccdesign-carousel {
  .carousel {
    position: relative;
    display: block;
    margin: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    @media (max-width: $screen-xs-max) {
      height: 35vh;
    }

    .slide-out-right {
      left: 100%;
      z-index: 2;
      @extend %slide;
    }

    .slide-in-left {
      left: 0;
      z-index: 4;
      @extend %slide;
    }

    .slide-from-left {
      left: -100%;
      z-index: 2;
      @extend %slide;
    }

    .slides {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      visibility: visible;
      opacity: 1;
      display: block;
    }
    
    & > div {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}