mobile-nav {
  .hide-left {
    left: -280px;
    transition-duration: 0.5s;

    &.navbar__mobile {
      &::before {
        display: none;
      }
    }
  }

  .hide-right {
    left: 0;
    transition-duration: 0.5s;

    &.navbar__mobile {
      &::before {
        display: block;
      }
    }
  }

  .visible {
    visibility: hidden;
  }

  .navbar {
    &__header {
      padding: 12px 4px 12px 0;
      background-color: $cc-black;
      min-height: 30px;
      text-align: center;

      ccdesign-button {
        float: left;
      }

      img {
        position: absolute;
        z-index: 1;
        left: 47vw;
      } 
    }

    &__mobile {
      position: fixed;
      top: 0;
      z-index: 6;
      width: 280px;
      height: 100vh;
      background-color: $cc-grey4;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 280px;
        width: 100vw;
        height: 100vh;
        background-color: $cc-black;
        opacity: 0.7;
      }

      &__sub-header {
        min-height: 30px;
        padding: 12px 4px 10px 0;
        background-color: $cc-black;

        img {
          margin-left: 12px;
        } 

        ccdesign-button {
          float: right;
        }
      }

      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      &__item {
        display: block;
        padding: 17px 40px 17px 17px;
        border-bottom: 2px solid $cc-grey2;

        &.active {
          background-color: $cc-black;
        }
      }

      &__link {
        cursor: pointer;
        color: $cc-grey1;
        padding: 1px 0;
        text-decoration: none;

        &.active {
          color: $cc-light-blue;
        }

        &:hover {
          color: $cc-white;
          text-decoration: none;
        }
      }
    }
  }
}
