mobile-nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;

//   .mobile-nav {
//     width: 280px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 55px;
//     z-index: 100;
//     &__controls {
//       position: relative;
//       transition: left 0.2s;
//       left: 0;
//       top: 0;
//       width: inherit;
//     }
//   }
}

// .hide-left {
//   left: -280px !important;
// }

// .hide-right {
//   left: 280px !important;
// }
