//grey scale
$cc-white: #fff;
$cc-grey1: #b4b4b4;
$cc-grey2: #424242;
$cc-grey3: #252525;
$cc-grey4: #1b1b1b;
$cc-black: #000;

//colors
$cc-light-blue: #80e3ff;
$cc-dark-blue: #181852;

//social Container
$cc-inner-circle: rgba(128, 227, 255, 1);
$cc-outer-circle: rgba(55, 210, 253, 0.8);
$cc-icons-blue: #007bff;
$cc-icons-blue-action: #0056b3;

//back button: 
$cc-grey-color: rgba(255, 255, 255, 0.5);
$cc-grey-border: rgba(255, 255, 255, 0.1);

// color array
$colors-list: (
  'white': $cc-white,
  'light-grey': $cc-grey1,
  'grey': $cc-grey2, 
  'dark-grey': $cc-grey3,
  'black': $cc-black,
  'blue': $cc-icons-blue,
) !default; 