@mixin addColor($color) {
  color: $color;
}

@each $type, $color in $colors-list {
  .icon--#{$type} {
    @include addColor($color);
  }
}
ccdesign-icon {
  .icon {
    fill: currentColor;

    &--xxs {
      svg {
        width: 25px;
        height: 25px;
      }
    }
  
    &--xs {
      svg {
        width: 30px;
        height: 30px;
      }
    }
    &--sm {
      svg {
        width: 40px;
        height: 40px;
      }
    }
    &--md {
      svg {
        width: 48px;
        height: 48px;
    
        @media (min-width: $screen-lg-min) {
          width: 60px;
          height: 60px;
        }
        @media (min-width: $screen-md-min) {
          width: 52px;
          height: 52px;
        }
      }
    }
    &--lg {
      svg {
        width: 60px;
        height: 60px;
    
        @media (min-width: $screen-lg-min) {
          width: 80px;
          height: 80px;
        }
        @media (min-width: $screen-md-min) {
          width: 68px;
          height: 68px;
        }
      }
    }
    &--xl {
      svg {
        width: 80px;
        height: 80px;
    
        @media (min-width: $screen-lg-min) {
          width: 112px;
          height: 112px;
        }
        @media (min-width: $screen-md-min) {
          width: 96px;
          height: 96px;
        }
      }
    }
    &--xxl {
      width: 100px;
      height: 100px;
  
      @media (min-width: $screen-lg-min) {
        width: 144px;
        height: 144px;
      }
      @media (min-width: $screen-md-min) {
        width: 112px;
        height: 112px;
      }
    }
  }
}