ccdesign-input {
  position: relative;

  & > .input {
    position: relative;

    input,
    textarea {
      position: absolute;
      width: -webkit-fill-available;
      padding: 10px 36px 10px 16px;
      border: none;
      background-color: $cc-grey4;
      color: $cc-white;
    }

    & > textarea {
      height: 150px;
    }

    .error {
      position: relative;
      border: 1px solid $cc-red;
    }

    ccdesign-copy small {
      color: $cc-red;
    }

    ccdesign-icon {
      position: absolute;
      margin: 6px auto 0 94.5%;
    }
  }
}
